<img src="assets/fondo_lore.jpg" alt="Fondo login" class="imagen-fondo">

<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
  <div class="row login-wrapper rounded-4 overflow-hidden shadow-lg" style="max-width: 950px; width: 100%;">

    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center rounded-start-4"
      style="background-color:#d7ebff;">
      <img src="assets/login_lo.png" alt="Visual institucional" class="img-fluid"
        style="max-width: 120%; height: auto;">
    </div>

    <div class="col-md-6 bg-white p-5 d-flex flex-column justify-content-center">
      <form #form="ngForm" novalidate>

        <div class="text-end mb-3">
          <button type="button" class="btn btn-cerrar" (click)="volverAlInicio()" aria-label="Cerrar">
            X
          </button>
        </div>

        <div class="text-center">
          <i class="bi bi-person-circle mb-3" style="font-size: 7rem; color:#0808c7;"></i>
          <h2 class="fw-bold" style="font-family:'Orbitron', sans-serif; color:#0808c7;">
            Iniciar sesión
          </h2>
        </div>

        <div class="mb-3">
          <label for="correo" class="form-label fw-semibold text-info" style="font-family:'Rajdhani', sans-serif;">
            <i class="bi bi-envelope-fill me-2"></i> Correo electrónico
          </label>
          <input [(ngModel)]="correo" name="correo" type="email" id="correo" class="form-control campo-input"
            placeholder="ejemplo@correo.com" required email #correoCtrl="ngModel" />
          <div *ngIf="correoCtrl.invalid && correoCtrl.touched" class="text-danger small">
            Ingresa un correo válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="contrasena" class="form-label fw-semibold text-info" style="font-family:'Rajdhani', sans-serif;">
            <i class="bi bi-lock-fill me-2"></i> Contraseña
          </label>
          <input [(ngModel)]="contrasena" name="contrasena" type="password" id="contrasena"
            class="form-control campo-input" placeholder="********" required minlength="6" #passCtrl="ngModel" />
          <div *ngIf="passCtrl.invalid && passCtrl.touched" class="text-danger small">
            La contraseña debe tener al menos 6 caracteres.
          </div>
        </div>

        <button type="submit" class="btn w-100 btn-login mt-3" (click)="iniciarSesion(form)">
          <i class="bi bi-box-arrow-in-right me-2"></i> Iniciar sesión
        </button>



      </form>
      <div class="text-center mt-3">
        <a class="link-secundario d-block mb-2" (click)="redirigirRegistro()">¿Olvidaste tu contraseña?</a>
        <a class="link-secundario" (click)="redirigirRegistro()">¿No tienes cuenta? Regístrate</a>
      </div>
    </div>
  </div>
</div>