.bg-gradient {
  background: linear-gradient(135deg, #5ad7f3, #000080);
}

.campo-input {
  border: 1px solid #5ad7f3;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  background-color: #f5f8ff;
  font-family: 'Rajdhani', sans-serif;
  transition: all 0.3s ease;
}

.campo-input:focus {
  border-color: #000080;
  box-shadow: 0 0 10px rgba(0, 60, 255, 0.6);
  outline: none;
}

.btn-login {
  background-color: #0808c7;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 50px;
  padding: 0.7rem;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #5ad7f3;
  color: #191970;
  box-shadow: 0 0 12px rgba(90,215,243,0.6);
}

.btn-cerrar {
  color: #0808c7;
  border: none;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.3s ease;
}

.btn-cerrar:hover {
  background-color: #5ad7f3; 
  color: #0808c7;            
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(90,215,243,0.6);
}

.link-secundario {
  font-family: 'Rajdhani', sans-serif;
  color: #5ad7f3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-secundario:hover {
  color: #000080;
}


.text-danger.small {
  min-height: 1.2rem; 
  display: block;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  font-family: 'Rajdhani', sans-serif;
}

.campo-input.ng-invalid.ng-touched {
  border-color: #dc3545; 
  box-shadow: 0 0 6px rgba(220,53,69,0.4); 
}
