<body class="d-flex flex-column min-vh-100">
<app-nav-admin-emp></app-nav-admin-emp>
<main class="flex-fill">
<div class="title7 text-center mt-5">

    <p class="mb-2 title_seccion1">
        Servicios Técnicos
    </p>
    <div style="width: 60px; height: 4px; background: #905BF4; border-radius: 4px; margin: 0 auto 25px auto;"></div>
    <p class="mb-2" style="font-family: 'Rajdhani', sans-serif; font-size: 1rem; color: #1d253a;">
        Consulte los servicios técnicos y asigne un tecnico para la solicitud de los clientes.
    </p>
</div>
<div class="historial-wrapper container mb-5 mt-4">

    <div class="row g-2 mb-4">

        <!-- Buscador -->
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchText">
        </div>

        <!-- Filtro por Servicio -->
        <div class="col-md-3">
            <select class="form-select" [(ngModel)]="filtroServicio">
                <option value="">Todos los servicios</option>
                <option *ngFor="let s of servicios" [value]="s.id_servicio">{{ s.descripcion_servicio }}</option>
            </select>
        </div>

        <!-- Filtro por Distrito -->
        <div class="col-md-3">
            <select class="form-select" [(ngModel)]="filtroDistrito">
                <option value="">Todos los distritos</option>
                <option *ngFor="let d of distritos" [value]="d.id_distrito">{{ d.nombre_distrito }}</option>
            </select>
        </div>

        <!--Filtro de modalidad-->
        <div class="col-md-3">
            <select class="form-select" [(ngModel)]="filtroModalidad">
                <option value="">Todas las modalidades</option>
                <option *ngFor="let m of modalidades" [value]="m.id_modalidad">{{ m.nombre_modalidad }}</option>
            </select>
        </div>

    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover table-striped align-middle mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Servicio</th>
                            <th>Atención</th>
                            <th>Modalidad</th>
                            <th class="text-end">Acciones</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let st of listaStPendientes | buscar: searchText
            | paginate: { itemsPerPage: itemsPerPage, currentPage: page }
            " [hidden]="
              (filtroServicio && st.id_servicio != filtroServicio) ||
              (filtroDistrito && st.id_distrito != filtroDistrito) ||
              (filtroModalidad && st.id_modalidad != filtroModalidad)
            ">
                            <td>{{st.id_servicio_tecnico}}</td>
                            <td>
                                {{ getClientes(st.id_cliente) }} <br>
                                <!-- <span class="badge bg-info">Registrado: {{pago.fecha_pago}} </span> -->
                            </td>
                            <td>
                                {{ getServicioDesc(st.id_servicio) }} <br>
                                <!-- <span class="badge bg-info">Registrado: {{pago.fecha_pago}} </span> -->
                            </td>

                            <td>
                                Fecha: {{st.fecha_atencion}} <br>
                                <span class="text-primary">Horario: {{getHorario(st.id_horario)}}</span>
                            </td>

                            <td>
                                {{getModalidadNombre(st.id_modalidad)}} <br>
                                <span class="badge bg-secondary">{{st.direccion}}</span><br>
                                <span class="badge bg-warning">{{getDistritoNombre(st.id_distrito)}}</span>
                            </td>


                            <td class="text-end">
                                <button class="btn btn-sm btn-primary" (click)="abrirModal(st.id_servicio_tecnico)">Más
                                    detalles</button>
                                <!--(click)="abrirModal()"-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="p-3 text-center">
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
</main>
<app-footer-simple></app-footer-simple>
</body>

<div class="modal fade" id="modalDetalleCita" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Detalle de Servicio Tecnico #{{ stSeleccionada?.id_servicio_tecnico }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">

                <form *ngIf="stSeleccionada">

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Cliente</label>
                            <input class="form-control" [value]="getClientes(stSeleccionada.id_cliente)" disabled />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Servicio</label>
                            <input class="form-control" [value]="getServicioDesc(stSeleccionada.id_servicio)"
                                disabled />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Fecha de Atención</label>
                            <input class="form-control" [value]="stSeleccionada.fecha_atencion" disabled />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Horario</label>
                            <input class="form-control" [value]="getHorario(stSeleccionada.id_horario)" disabled />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Comentario del Cliente</label>
                        <textarea class="form-control" rows="3" [value]="stSeleccionada.comentario_cliente"
                            disabled></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="col-md-12">
                            <label class="form-label">Asignar técnico</label>
                            <select class="form-select" [(ngModel)]="stSeleccionada.id_usuario" name="usuario">
                                <option value="">Seleccione técnico</option>
                                <option *ngFor="let u of usuarios" [value]="u.id_usuario">
                                    {{ u.nombres }} {{ u.apellidos }}
                                </option>
                            </select>
                            <!-- <div *ngIf="id_usuario.invalid && id_usuario.touched" class="text-danger small mt-1">
                Debe seleccionar un tecnico.
              </div> -->
                        </div>
                    </div>

                    <!-- <div class="mb-3">
            <label class="form-label">Observación del Técnico</label>
            <textarea class="form-control" [(ngModel)]="citaSeleccionada.observacion_tecnico"
                      name="obs"></textarea>
          </div> -->
                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button class="btn btn-info" (click)="guardarCambios()">Guardar cambios</button>
            </div>

        </div>
    </div>
</div>

