<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Rajdhani:wght@500&family=Poppins:wght@500&display=swap"
  rel="stylesheet">
<div class="bodyportalcliente">
  <app-nav-pcliente></app-nav-pcliente>

  <div class="text-center mb-5 mt-5">
    <!-- SLOGAN INSTITUCIONAL -->
    <p class="mb-2 title_seccion1">
      Agende su Cita para Instalación
    </p>

    <!-- LÍNEA DECORATIVA -->
    <div style="width: 60px; height: 4px; background: #905BF4; border-radius: 4px; margin: 0 auto 25px auto;"></div>

    <!-- SUBTÍTULO INSTITUCIONAL -->
    <p class="mb-4" style="font-family: 'Rajdhani', sans-serif; font-size: 1rem; color: #1d253a;">
      Para instalar un programa en tu equipo de computo, necesitas una cita de instalación.
    </p>
  </div>
  <!-- <div class="layout"> -->

  <!-- ===== SIDEBAR ===== -->
  <!-- <aside class="sidebar">
    <h2 class="sidebar-logo">
      <img src="assets\icono-iniciar-sesion.png">
    </h2>


    <nav class="sidebar-menu">
      <a routerLink="/cliente/dashboard"><i class="bi bi-house"></i> Inicio</a>
      <a routerLink="/cliente/account"><i class="bi bi-gear"></i> Configuración</a>
      <a routerLink="/cliente/historial"><i class="bi bi-clock-history"></i> Historial</a>
      <a class="active" routerLink="/cliente/servicios"><i class="bi bi-calendar-check"></i> Servicios</a>
      <a routerLink="/cliente/citas"><i class="bi bi-tools"></i> Citas</a>

    </nav>
  </aside> -->

  <!-- ===== MAIN ===== -->


  <!-- TOPBAR -->
  <!-- <header class="topbar">
      <div class="top-left">
        <div class="search-box">
          <i class="bi bi-search"></i>
          <input placeholder="Buscar...">
        </div>


      </div>

      <div class="top-right">
        <i class="bi bi-bell notify-icon"></i>

        <span class="user-name">Nathan User</span>
        <img class="user-avatar" src="https://cdn-icons-png.flaticon.com/512/847/847969.png">

        <button class="logout-btn-icon"><i class="bi bi-box-arrow-right"></i></button>
      </div>
    </header> -->
  <!-- <div class="servicio-wrapper ">
    <div class="servicio-formulario container mb-5">
       <h2>Empresa de Soporte Técnico</h2> 
      <h2 class="panel-title mb-5">Reservar Servicio de Instalación</h2>

      <form>
        <div class="form-grid ">
          <div class="row">
            <div class="col-sm-8 mb-2">
              <label class="form-label">Programa a Instalar</label>
              <select class="form-select" [(ngModel)]="servicio.programa" (change)="actualizarPrecio()" name="servicio">
                <option value="">Seleccionar</option>
                <optgroup label="Instalación">
                  <option *ngFor="let s of programasInstalacion" [value]="s.id_servicio">
                    {{ s.descripcion_servicio }}
                  </option>
            </optgroup> 
                <optgroup label="Reparación">
                    <option *ngFor="let r of programasReparacion" [value]="r.id_servicio">
                      {{ r.descripcion_servicio }}
                    </option>
                  </optgroup> 
              </select>
            </div>

            <div class="col-sm-4 mb-2">
              <label class="form-label">Precio</label>
              Precio 
              <input class="form-control" type="text" [value]="'S/. ' + (servicio.precio || '0.00')" readonly />
            </div>

            <div class="col-sm-8 mb-2">
              <label class="form-label">Nombres y Apellidos</label>
              <input class="form-control" type="text" id="nombres" [(ngModel)]="servicio.nombres" name="nombres"
                placeholder="Ingresa tus nombres" />
            </div>

             <div class="campo">
              <label for="apellidos">Apellidos</label>
              <input type="text" id="apellidos" [(ngModel)]="servicio.apellidos" name="apellidos"
                placeholder="Ingresa tus apellidos" />
            </div> 

            <div class="col-sm-4 mb-2">
              <label class="form-label">DNI/RUC <span class="opcional">(Opcional)</span></label>
              <input class="form-control" type="text" id="dni" [(ngModel)]="servicio.dni" name="dni"
                placeholder="Ej. 12345678" />
            </div>


            <div class="columna">
            <div class="col-sm-4 mb-2">
              <label class="form-label">Modalidad</label>
              
              <select class="form-select" [(ngModel)]="servicio.modalidad" name="modalidad">
                <option value="">Seleccionar</option>
                <option *ngFor="let m of modalidades" [value]="m.id_modalidad">{{ m.nombre_modalidad }}</option>
              </select>
            </div>

            <div class="col-sm-4 mb-2">
              <label class="form-label">Fecha</label>
              <input class="form-control" type="date" id="fecha" [(ngModel)]="servicio.fecha" name="fecha" />
            </div>

            <div class="col-sm-4">
              <label class="form-label">Hora</label>
              
              <select class="form-select" [(ngModel)]="servicio.hora" name="hora">
                <option value="">Seleccionar</option>
                <option *ngFor="let h of horarios" [value]="h.id_horario">{{ h.horario }}</option>
              </select>
            </div>

            <div class="col-sm-4 mb-2">
              <label class="form-label">Distrito</label>
              
              <select class="form-select" [(ngModel)]="servicio.distrito" (change)="actualizarPrecio()" name="distrito">
                <option value="">Seleccionar</option>
                <option *ngFor="let d of distritos" [value]="d.nombre_distrito">{{ d.nombre_distrito }}</option>
              </select>
            </div>

            <div class="col-sm-8 mb-2">
              <label class="form-label">Dirección</label>
              <input class="form-control" type="text" id="direccion" [(ngModel)]="servicio.direccion" name="direccion"
                placeholder="Dirección completa" />
            </div>



            

            <div class="col-sm-12 mb-2">
              <label class="form-label">Comentario</label>
              <textarea class="form-control" id="comentario" [(ngModel)]="servicio.comentario" name="comentario"
                rows="3" placeholder="Escribe algún detalle adicional..."></textarea>
            </div>

            <div class="col-sm-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acepto" [(ngModel)]="servicio.acepto"
                  name="acepto" />
                <a href="#" class="form-check-label text-black ms-2">Acepto los términos y condiciones</a>
              </div>
            </div>

          </div>
        </div>

        


        
        <button type="button" class="btn-pagar" [disabled]="!formularioValido()" (click)="registrarServicio()">
          Pagar Servicio
        </button>
      </form>
    </div>
  </div>-->
  <div class="servicio-wrapper container">
    <div class="servicio-formulario  mb-5">
      <h2 class="panel-title1 mb-4">Servicio de Instalación</h2>

      <form>
        <div class="form-grid ">
          <div class="row">
            <div class="col-sm-8 mb-2">
              <label class="form-label">Programa a Instalar</label>
              <select class="form-select" name="id_servicio" id="id_servicio" [(ngModel)]="idServicioSeleccionado"
                (change)="setearPrecio()">
                <option value="">Seleccionar</option>
                <option *ngFor="let s of servicios" [value]="s.id_servicio">
                  {{ s.descripcion_servicio }}
                </option>
              </select>
            </div>

            <div class="col-sm-4 mb-2">
              <label class="form-label">Precio (S/)</label>
              <input type="number" class="form-control" readonly [value]="precioServicio" step="0.01"
                name="precio_serviciot" id="precio_serviciot"/>
            </div>

            <div class="col-sm-8 mb-2">
              <label class="form-label">Nombres y Apellidos</label>
              <input class="form-control" type="text" id="nombres" [(ngModel)]="nombreCompleto" name="nombres"
                readonly />
            </div>


            <div class="col-sm-4 mb-2">
              <label class="form-label">DNI/RUC </label>
              <input class="form-control" type="text" id="documento"
                [(ngModel)]="servicios_tecnicos.documento" name="documento" placeholder="Ej. 12345678" />
            </div>

            <div class="col-sm-4 mb-2">
              <label class="form-label">Modalidad</label>
              <select class="form-select" [(ngModel)]="servicios_tecnicos.id_modalidad" name="id_modalidad" id="id_modalidad"
                (change)="validarModalidad()">
                <option value="">Seleccionar</option>
                <option *ngFor="let m of modalidades" [value]="m.id_modalidad">{{ m.nombre_modalidad }}</option>
              </select>
            </div>

            <div class="col-sm-4 mb-2">
              <label class="form-label">Fecha</label>
              <input class="form-control" type="date" id="fecha_atencion" [(ngModel)]="servicios_tecnicos.fecha_atencion" name="fecha_atencion"
                [min]="fechaMinima" (change)="validarNoDomingo()" />
            </div>

            <div class="col-sm-4 mb-2">
              <label class="form-label">Hora</label>
              <select class="form-select" [(ngModel)]="servicios_tecnicos.id_horario" name="id_horario" id="id_horario">
                <option value="">Seleccionar</option>
                <option *ngFor="let h of horarios" [value]="h.id_horario">{{ h.horario }}</option>
              </select>
            </div>

            <div class="col-sm-4 mb-2" *ngIf="servicios_tecnicos.id_modalidad == 3">
              <label class="form-label">Distrito</label>
              <select class="form-select" [(ngModel)]="idDistritoSeleccionado" (change)="setearTarifaDomicilio()"
                name="distrito">
                <option value="">Seleccionar</option>
                <option *ngFor="let d of distritos" [value]="d.id_distrito">{{ d.nombre_distrito }}</option>
              </select>
            </div>

            <div class="col-sm-8 mb-2" *ngIf="servicios_tecnicos.id_modalidad == 3">
              <label class="form-label">Dirección</label>
              <input class="form-control" type="text" id="direccion" [(ngModel)]="servicios_tecnicos.direccion"
                name="direccion" placeholder="Dirección completa" />
            </div>

            <div class="col-sm-12 mb-2" *ngIf="servicios_tecnicos.id_modalidad == 3">
              <span class="opcional text-info">La tarifa de visita hasta su domicilio tiene el precio de: S/. {{
                tarifaDomicilio }}</span>
            </div>


            <div class="col-sm-12 mb-3">
              <label class="form-label">Comentario</label>
              <textarea class="form-control" id="comentario_cliente" [(ngModel)]="servicios_tecnicos.comentario_cliente"
                name="comentario_cliente" rows="3" placeholder="Escribe algún detalle adicional..."></textarea>
            </div>

            <div class="col-sm-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acepto" [(ngModel)]="servicios_tecnicos.acepto"
                  name="acepto" />
                <a href="#" class="form-check-label text-black ms-2">Acepto los términos y condiciones</a>
              </div>
            </div>

          </div>
        </div>

        <button type="submit" class="btn-submit" (click)="registrarServicioInstalacion()" >
          Pagar Servicio
        </button>
      </form>
    </div>
  </div>
</div>

<app-footer-simple></app-footer-simple>