.video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
 background-image: url('https://static.wixstatic.com/media/c837a6_2119733e838e4a2f8813ebde736f99d5~mv2.jpg/v1/fill/w_1385,h_1300,al_b,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c837a6_2119733e838e4a2f8813ebde736f99d5~mv2.jpg');
}

.container-fluid {
  background-color: rgba(16, 159, 255, 0.116); // blanco translúcido
}

.bg-gradient {
  background: linear-gradient(135deg, #5ad7f3, #8A2BE2);
}

.btn-cerrar {
  background-color: #c688ff; // violeta institucional
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.3s ease;
}

.btn-cerrar:hover {
  background-color: #5ad7f3; // azul eléctrico
  color: #03153a;            // azul oscuro
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(90,215,243,0.6);
}


.campo-input {
  border: 1px solid #5ad7f3;
  border-radius: 50px;
  padding: 0.6rem 1rem;
  background-color: #f5f8ff;
  font-family: 'Rajdhani', sans-serif;
  transition: all 0.3s ease;
}

.campo-input:focus {
  border-color: #8A2BE2;
  box-shadow: 0 0 10px rgba(138,43,226,0.6);
  outline: none;
}

.btn-login {
  background-color: #8A2BE2;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 50px;
  padding: 0.7rem;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #5ad7f3;
  color: #03153a;
  box-shadow: 0 0 12px rgba(90,215,243,0.6);
}

.link-secundario {
  font-family: 'Rajdhani', sans-serif;
  color: #5ad7f3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-secundario:hover {
  color: #8A2BE2;
}
