<app-nav-admin-emp></app-nav-admin-emp>

  <section class="hero-section">
    <div class="container">
      <h1 data-aos="fade-up">Te damos la bienvenida a <br> tu espacio  {{usuario.nombres}}</h1>
      <p class="mt-3" data-aos="fade-in" data-aos-delay="500">
        Podras administrar técnicos, consultas y servicios solictados.
      </p>
      <a href="#" class="btn btn-info btn1 btn-lg mt-4" routerLink="/company/citaspAdmin" data-aos="zoom-in" data-aos-delay="1000">
        Consultar Citas de Diagnostico
      </a><br>
      <a href="#" class="btn btn-light btn2 btn-lg mt-4" routerLink="/company/serviciospAdmin" data-aos="zoom-in" data-aos-delay="1000">
        Consultar Servicios Técnicos
      </a>
    </div>
  </section>

<app-footer-simple></app-footer-simple>