/* You can add global styles to this file, and also import other style files */
.bodyportalcliente {
    background-color: #ffffff;
}

.img_thiings {
    height: 55%;
    width: 50%;
    place-self: center;
}

.panel-title1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: black !important;
    margin-bottom: 8px;
}

.title_seccion1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #4E2BCC;
}