/* You can add global styles to this file, and also import other style files */
.bodyportalcliente {
    background-color: #ffffff;
}

.img_thiings {
    height: 55%;
    width: 50%;
    place-self: center;
}

.panel-title1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: black !important;
    margin-bottom: 8px;
}

.title_seccion1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #4E2BCC;
}

.imagen-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* la imagen se adapta sin deformarse */
  z-index: -1;        /* queda detrás del contenido */
}

.btn-cerrar {
  color: #000080;
  border: none;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.3s ease;
}

.btn-cerrar:hover {
  background-color: #5ad7f3; // azul eléctrico
  color: #000080;            // azul oscuro
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(90,215,243,0.6);
}


.panel-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #000080;
  margin-bottom: 8px;
}
.panel-subtitle {
  font-size: 1rem;
  color: #007FFF;
  margin-bottom: 20px;
}
.price-box {
  font-size: 1rem;
  color: #000080;
  margin-bottom: 20px;
}